h1 {
    font-family: 'Potta One', cursive;
}

h2 {
    font-family: 'Hachi Maru Pop', cursive;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'East Sea Dokdo', cursive;
}

p {
    font-family: 'Dancing Script', cursive;
}